<h1 class="display-10">Personal Hand Book</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="PMId" [value]="service.formData.usrId">
  <div class="form-group">
    <div class="input-group">
      <input name="fname" #fname="ngModel" [(ngModel)]="service.formData.fname" class="form-control"
        placeholder="User Name" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <input name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="Email"
        required>
    </div>
  </div>


  <div class="form-group">
    <div class="input-group">
      <input name="phone" #phone="ngModel" [(ngModel)]="service.formData.phone" class="form-control" placeholder="Phone"
        required>
    </div>
  </div>

  <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i> Submit</button>
  </div>


  <table class="table table-hover">
      <tr *ngFor="let pd of service.list">
        <td (click)="populateForm(pd)">{{pd.fname}}</td>
        <td (click)="populateForm(pd)">{{pd.email}}</td>
        <td (click)="populateForm(pd)">{{pd.phone}}</td>
        <td (click)="populateForm(pd)">{{pd.usrId}}</td>
        <td>
          <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.usrId)">D</i>
        </td>
      </tr>
    </table>

</form>